.list-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}
.list-items {
    margin-right: 30px;
    margin-bottom: 30px;
}
.list-info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 15px;
}
.list-type {
    margin-bottom: 10px;
    opacity: 0.6;
}
.list-description {
    opacity: 0.8
}